/* DARK MODE CONSTANTS */
:root {
  --bg-color: #3F3F3F;
  --text-color: #fff;
}

div {
  margin: 0px;
  padding: 0px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* select & option for styling dropdown*/
select {
  background-color: transparent;
  border-radius: 0%;
  border-color: transparent;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

option {
  background-color: var(--bg-color);
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

font {
  color: var(--text-color);
}

body {
  font-family: sans-serif;
}

.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 60%;
  height: .6rem;
  color: aqua;
  background-color: grey; /* or add it to the track */
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  border-radius: .3rem;
  background: #000;
}

nav {
  border-bottom: 1px solid black;
}

.colors0 {
  background-color: var(--bg-color);
}

.colors1 {
  background-color: lightsteelblue;
}

/* change hyperlink color to contrast dark mode*/
a {
  color: lightsteelblue;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  padding-top: 1em;
  color: #fff;
}

.nav-item, .last-nav-item {
  display: inline-block;
  color: aliceblue;
}

.nav-item a::after {
  display: inline-block;
  color: #000;
  content: '|';
  font-size: 80%;
  font-weight: bold;
  padding: 0 6px;
}

img {
  max-width: 50%;
}

/* CONTAINER FOR SEARCH BAR AND DROPDOWN MENU */

.wrap-filters {
  display: flex;
  flex-wrap: wrap;
  overflow-x:hidden;
  justify-content:space-evenly;
  flex: 1 0 26%;
}

/* ORDER BOX STYLING */
.order-box {
  margin: 0.5rem;
  display: flex;
  flex: 1 1 2;
  padding: 0.5rem;
  border-style: groove;
  border-width: 1px;
  border-radius: 500px;
  border-color: darkgray;
  height: max-content;
  width: fit-content;
}

.order-text {
  width: 5.5rem;
  padding-left: 0.5rem;
}

/* SEARCH BOX STYLING */
.search-box {
  margin: 0.5rem;
  display: flex;
  flex: 3 1 3;
  /* margin: 0 auto; */
  border-style: groove;
  border-width: 1px;
  border-radius: 500px;
  border-color: darkgray;
  height: max-content;
  width: 30%;
}

@media screen and (max-width: 700px) {
  .search-box {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .search-box {
    width: 90%;
  }
}

/* help allign clear button */
.search-text {
  padding-top: 0.6rem;
  padding-left: 0.5rem;
}

/* delete button */
.clear-btn {
  display:block;
  width: min-content;
  height: max-content;
  border-radius: 500px;
  border: 0px;
  background-color: transparent;
  padding: 0.5rem 0.85rem;
  /* text */
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  margin: 0;
}

.clear-btn:hover {
  background-color: lightgray;
}

/* TASK CONTAINER FLEX STYLING */
.task-container {
  display: flex;
  align-items: flex-start; /* height of each item is dependent on content inside */
  justify-content: space-around;
  /* flex-direction: row; */
  flex-wrap: wrap; /* elements that don't fit go to next row */
  flex: 1 0 26%;
}

/* TASK HEADER containing checkbox and delete button*/
.task-header {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  align-items: center;
}

.check-box {
  display:block;
  margin: .8rem;
  width: 1.5rem;
  height: 1.5rem;
}

.check-box:hover {
  background: blue;
  color: blue;
}

/* STYLE TH EALARM DATE-TIME INPUT */
.local-date {
  position: sticky;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  color: #fff;
  visibility: none;
  /* width: 2.5rem; */
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  right: 100px;

  background-color: transparent;
  color: #fff;
  color-adjust: #fff;
  /* background: url(yourIcon) no-repeat; */
}



/* SHOW TASK LIST STYLING */
li {
  list-style-type: none;
  color: #fff;
}

.items {
  padding: 2px 16px;
  margin: 2em;
}

.task-item {
  /* flex styling */
  flex: 1 1 2;
  flex-grow: 2;
  flex-shrink: 1;
  max-width: 30rem;
  min-width: 22rem;

  /* other stylihg */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 1rem; /* 5px rounded corners */
  margin-top: 2em;
  margin-right: 4em;
  margin-left: 4em;
  overflow: hidden; /* helps with rounding corners*/
}

@media screen and (max-width: 600px) {
  .task-item {
    max-width: 20rem;
    min-width: 18rem;
  }
}

.task-item-hidden {
  display: none;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  width: 95%;
  height: 100%;
  box-sizing: border-box;
  color: #fff;
}

.task-itembody {
  padding: 5px;
}

.task-item:hover {
  background-color:aliceblue;
  box-shadow: 0 0.8rem 1rem 0 rgba(0,0,0,0.2);
  transition: background-color 300ms;
}

/* ADDING TASK STYLE */
.addtask-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;
  cursor: pointer;
  background-color: transparent;
}

.addtask-icon-holder {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background:pink;
  justify-content: center;

  box-shadow: 0 0.5rem 1.3rem rgba(0,0,0,0.2);
}



.addtask-icon-holder:hover {
  opacity: 0.8;
}

.add-task-header {
  justify-content: right;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  align-items: right;
  padding: 0.5rem;
}